@model CSharp_Net_module3_2_1_lab_MVCcl.Models.CalculatorModel

@{
    ViewBag.Title = "Calculator";
}

<h2>Calculator</h2>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"> </script>

        @using (Ajax.BeginForm("Index", new AjaxOptions { UpdateTargetId = "result" })) { 
               <div class="form-horizontal">
        @*<h4>CalculatorModel</h4>*@
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.a, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.a, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.a, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.b, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.b, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.b, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary ">
                    @Html.RadioButtonFor(m => m.oper, "+") +
                </label>
                <label class="btn btn-primary">
                    @Html.RadioButtonFor(m => m.oper, "-") -
                </label>
                <label class="btn btn-primary">
                    @Html.RadioButtonFor(m => m.oper, "*") *
                </label>
                <label class="btn btn-primary">
                    @Html.RadioButtonFor(m => m.oper, "/") /
                </label>
                    </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="=" class="btn btn-default" />
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.result, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div id="result" class="form-control" style="width:275px"> </div>
            </div>
        </div>
    </div>
}


